// filepath: /c:/Users/erwan/OneDrive/Bureau/Audodrone/.gitignore
# Ignorer tout sauf le répertoire du projet
/*
!/OneDrive/
!/OneDrive/Bureau/
!/OneDrive/Bureau/Audodrone/
!/OneDrive/Bureau/Audodrone/**